/* MOBILE and TABLED PHONE ( ANDROID IOS ) */
@media (min-width: 320px) and (max-width: 425px) {
  .header {
    height: 930px;
    background: #000;
  }
  .container > .navigation {
    width: 100%;
  }
  .container > .navigation > .nav-list {
    display: none;
  }
  .logo-link > img {
    width: 120px;
  }
  .hero__section > .container > div.hero__flex {
    flex-direction: column;
  }
  .hero__flex > .hero__flex-left {
    width: 100%;
    height: 50%;
    margin-bottom: 50px;
    text-align: center;
  }
  .hero__left > .hero__flex-heading {
    /* width: 100%; */
  }
  .hero__flex > .hero__flex-right {
    width: 100%;
    padding: 22px 0px;
  }
  .hero__flex > .hero__flex-right > picture > img {
    width: 100%;
  }

  /* HEADER SECTION END */

  /* MAIN ROWS */
  .site__main-about {
    width: 100%;
    height: 936px;
    padding: 210px 0px;
    text-align: center;
  }
  .site__main-about > .main__about-heading {
    margin-bottom: 72px;
    width: 100%;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 86.4px */
    letter-spacing: 0.5px;
  }
  .site__main-about > .main__about-group__our {
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__about-group__our > .main-rows {
    width: 100%;
    height: 300px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .main-rows > .picture-bg {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 117, 0, 0.2);
    margin-bottom: 32px;
  }

  .main-rows > .main__rows-heading {
    color: #000;
    width: 100%;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.5px;
    margin-bottom: 12px;
  }
  .main-rows > .main__rows-paragriph {
    width: 286px;
    color: #000;
    font-size: 16px;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.5px;
  }
  /* MAIN ROWS */

  /* MAIN END */
}
@media (min-width: 425px) and (max-width: 768px) {
  body > .header {
    width: 100%;
    height: 1220px;
    background: #000;
  }
  .container > .navigation {
    width: 100%;
  }
  .container > .navigation > .nav-list {
    display: none;
  }
  .navigation > .logo-link > img {
    width: 250px;
  }
  .hero__section > .container > .hero__flex {
    flex-direction: column;
  }
  .hero__flex > .hero__flex-left {
    width: 100%;
    height: 50%;
    margin-bottom: 50px;
    text-align: center;
  }
  .hero__left > .hero__flex-heading {
    margin-bottom: 24px;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%; /* 48px */
    letter-spacing: 0.5px;
    /* width: 100%; */
  }
  .hero__flex-left > .hero__flex-paragriph {
    padding: 0px 30px;
  }
  .hero__flex > .hero__flex-right {
    width: 100%;
    padding: 22px 0px;
  }
  .hero__flex > .hero__flex-right > picture > img {
    width: 100%;
  }

  /* HEADING END  */
  /* MAIN ROWS */
  .site__main-about {
    width: 100%;
    height: 936px;
    padding: 210px 0px;
    text-align: center;
  }
  .site__main-about > .hero__flex-border {
    width: 354px;
  }
  .site__main-about > .main__about-heading {
    margin-bottom: 72px;
    width: 100%;
    color: #000;
    font-size: 52px;
    padding: 0px 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 86.4px */
    letter-spacing: 0.5px;
  }
  .site__main-about > .main__about-group__our {
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .main__about-group__our > .main-rows {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .main-rows > .picture-bg {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 117, 0, 0.2);
    margin-bottom: 32px;
  }

  .main-rows > .main__rows-heading {
    color: #000;
    width: 100%;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.5px;
    margin-bottom: 12px;
  }
  .main-rows > .main__rows-paragriph {
    width: 100%;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.5px;
  }
  /* MAIN ROWS */

  /* MAIN END */
}

/* MOBILE AND TABLET (IOS ANDROID) */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 100%;
    height: 1520px;
    background: #000;
  }
  .container > .navigation {
    width: 100%;
  }
  .container > .navigation > .logo-link {
    margin-right: 153px;
  }
  .container > .navigation > .nav-list {
  }
  .navigation > .logo-link > img {
    width: 200px;
  }
  .hero__section > .container > .hero__flex {
    flex-direction: column;
  }
  .hero__flex > .hero__flex-left {
    width: 100%;
    height: 50%;
    margin-bottom: 50px;
    text-align: center;
  }
  .hero__left > .hero__flex-heading {
    /* width: 100%; */
  }
  .hero__flex > .hero__flex-right {
    width: 100%;
    padding: 22px 0px;
  }
  .hero__flex > .hero__flex-right > picture > img {
    width: 100%;
  }
}
