@import url(./min-res.css);

/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-condensed-v27-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-condensed-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* unversal style tag */
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* unversal style tag */
html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-padding-top: 12px;
}
body {
  font-family: "Roboto Condensed";
}

/* SCROLLBARS CUSTOMIZATIONS */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff7500;
  outline: 1px solid slategrey;
}
/* SCROLLBARS CUSTOMIZATIONS */

/* CONTAINER START SECTION */
.site-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 170px;
  padding-left: 170px;
}
/* CONTAINER END SECTION */

/* SITE HEADER */
.site-navbar {
  width: 100%;
  padding: 16px 0px;
  border-bottom: 1px solid black;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 59px;
}
.site-logo-two {
  display: none;
}
.site-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.site-items {
  padding: 12px 20px;
}
.site-nav-link {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  padding: 14px 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.site-nav-link:hover {
  text-decoration: 3px underline #ff7500;
}
.site-bars-link {
  text-decoration: 3px underline #ff7500;
}
.site-btn {
  padding: 12px 24px;
  border-radius: 4px;
  border: 2px solid #ff7500;
  background: #ff7500;
  transition: all 0.9s;
  color: white;
}
.site-btn:hover {
  background-color: transparent;
  color: #ff7500;
}
.site-header-main {
  background-color: #000;
  height: 488px;
  padding-top: 40px;
}
.site-bars {
  padding: 14px;
  font-size: 18px;
  color: #ff7500;
  border: 1px solid #ff7500;
  background-color: transparent;
  display: none;
}

.site-hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.site-left {
  max-width: 387px;
  height: 328px;
  margin-top: 80px;
}
.bars-bottom {
  width: 200px;
  height: 7px;
  margin-bottom: 40px;
  background-color: #ff7500;
  border: none;
  border-radius: 20px;
}
.site-heading {
  color: #fff;
  font-family: Roboto Condensed;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.site-paragriph {
  max-width: 387px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.5px;
  margin-bottom: 32px;
}
/* header */
/* MAIN SECTION */
.site-main {
  padding-top: 210px;
  height: 1536px;
}

.site-main-h2 {
  color: #000;
  font-size: 72px;
  max-width: 435px;
  height: 172px;
  margin-bottom: 72px;
  font-weight: 700;
  line-height: 120%; /* 86.4px */
  letter-spacing: 0.5px;
}

.bars-bottom-section {
  width: 120px;
  height: 7px;
  margin-bottom: 24px;
  background-color: #ff7500;
  border: none;
  border-radius: 20px;
}
.site-body-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 245px;
  width: 100%;
  margin-bottom: 210px;
}
.site-card {
  max-width: 340px;
  height: 245px;
  text-align: left;
  .border-rounded {
    text-align: left;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
    border-radius: 50%;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-section-img {
      width: 56px;
      height: 56px;
    }
  }
  h3 {
    width: 100%;
  }
  p {
    max-width: 314px;
    width: 100%;
    height: 72px;
  }
}

.site-action-rm {
  margin: 35px 0px 160px 0px;
  background-color: #000;
  border-radius: 10px;
  max-width: 1100px;
  width: 100%;
  height: 419px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .site-action-left {
    margin: 64px 0px 64px 64px;
    h3 {
      color: white;
      max-width: 373px;
      height: 93px;
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.5px;
      margin-bottom: 24px;
    }
    .site-action-paragriph {
      color: white;
      margin-bottom: 10px;
      max-width: 440px;
      width: 100%;
      height: 48px;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%; /* 24px */
      letter-spacing: 0.5px;
    }
  }
  .site-action-right {
    img {
      margin-top: -70px;
      padding: -80px 64px 64px 0px;
      border-radius: 15px;
    }
  }
}
